<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrator</title>
    <link rel="stylesheet" th:href="@{../style/header.css}">
</head>
<body>
<div th:fragment="header">
    <div class="navbar" >
        <div class="logout">
            <a th:href="@{/logout}">Logout</a>
        </div>


        <div class="dropdown">
            <button class="dropbtn">Hackathon
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/administrator/search/hackathons}">Search</a>
                <a th:href="@{/administrator/create/hackathon}">Add</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Judge
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/administrator/search/judges}">Search</a>
                <a th:href="@{/administrator/create/judge}">Add</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Mentor
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/administrator/search/mentors}">Search</a>
                <a th:href="@{/administrator/create/mentor}">Add</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Team
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/administrator/search/teams}">Search</a>
                <a th:href="@{/administrator/create/team}">Add</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Member
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/administrator/search/members}">Search</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>