<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <title>Navbar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-light bg-light" >

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">


                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Hackathon</a>
                    <div class="dropdown-menu">
                        <a th:href="@{/administrator/search/hackathons}" class="dropdown-item">Search</a>
                        <a th:href="@{/administrator/create/hackathon}" class="dropdown-item">Add</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Judge</a>
                    <div class="dropdown-menu">
                            <a th:href="@{/administrator/search/judges}" class="dropdown-item">Search</a>
                            <a th:href="@{/administrator/create/judge}" class="dropdown-item">Add</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Mentor</a>
                    <div class="dropdown-menu">
                        <a th:href="@{/administrator/search/mentors}" class="dropdown-item">Search</a>
                        <a th:href="@{/administrator/create/mentor}" class="dropdown-item">Add</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Team</a>
                    <div class="dropdown-menu">
                        <a th:href="@{/administrator/search/teams}" class="dropdown-item">Search</a>
                        <a th:href="@{/administrator/create/team}" class="dropdown-item">Add</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Member</a>
                    <div class="dropdown-menu">
                        <a th:href="@{/administrator/search/members}" class="dropdown-item">Search</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a th:href="@{/logout}" class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>
