<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Hackathon</title>


  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</head>
<body class="background">

<div th:replace="fragments/navbar_admin :: header"></div>

<div class="container">

  <div th:if="${hackathon.hackathonid != null}">
    <form th:object="${hackathon}">
      <div class="row">
        <div class="col">
          <div><h1 class="text-info">Details for hackaton:</h1></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Hakcathon ID :</label>
            <input readonly th:field="${hackathon.hackathonid}" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label>Name:</label>
            <input readonly th:field="${hackathon.name}" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label>Date:</label>
            <span class="form-control" th:text="${hackathon.date}" ></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Hackathon administrator:</label>
        <input readonly th:field="${hackathon.administrator.name}"  class="form-control" type="text">
      </div>
      <div th:if="${not#lists.isEmpty(teams)}"> Teams:
        <table border="1" class="table table-condensed">
          <thead class="thead-dark">
            <tr>
              <th>Team name </th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="team : ${teams}">
              <td th:text="${team.name}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div th:if="${not#lists.isEmpty(judges)}"> Judges:
        <table border="1" class="table table-condensed" >
          <thead class="thead-dark">
            <tr>
              <th>Name </th>
              <th>Lastname </th>
              <th>Mail </th>
              <th>Country </th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="judge : ${judges}">
              <td th:text="${judge.name}"></td>
              <td th:text="${judge.lastName}"></td>
              <td th:text="${judge.mail}"></td>
              <td th:text="${judge.country}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    <div class="alert alert-info" th:if="${message}">
      <h3 th:text="${message}"></h3>
    </div>
  </div>
  <div th:unless="${hackathon.hackathonid != null}">
    <form th:action="@{'/administrator/create/hackathon'}" th:object="${hackathon}" method="post">
      <div class="row">
        <div class="col">
          <div>
            <h1 class="text-info">Create a new hackathon:</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Name:</label>
            <input class="form-control" required th:field="${hackathon.name}" type="text">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Date:</label>
        <input class="form-control " required th:field="${hackathon.date}" type="date">
      </div>
      <div th:if="${not#lists.isEmpty(judges)}"> Select available judges to add:
        <table border="1" class="table table-condensed" >
          <thead class="thead-dark">
            <tr>
              <th>Name </th>
              <th>Lastname </th>
              <th>Mail </th>
              <th>Country </th>
              <th class="bg-info"><i>Check to add</i></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="judge : ${judges}">
              <td th:text="${judge.name}"></td>
              <td th:text="${judge.lastName}"></td>
              <td th:text="${judge.mail}"></td>
              <td th:text="${judge.country}"></td>
              <td>
                <input class="custom-checkbox" type="checkbox" name="checkedIds" th:value="${judge.judgeid}">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="aler alert-info" th:unless="${not#lists.isEmpty(judges)}">
        No available judges to add.
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary form-group ">Save</button>
        </div>
      </div>
      <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <p>Please correct your input</p>
      </div>
    </form>
  </div>
</div>
</body>
</html>