<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Hackathon</title>

  <link rel="stylesheet" th:href="@{/style/header.css}">



</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

  <div th:if="${hackathon.hackathonid != null}">
    <form th:object="${hackathon}">
      <div><h1>Details for hackaton:</h1></div>
      <div>
        <label>Hakcathon ID :</label>
        <input readonly th:field="${hackathon.hackathonid}" type="text">
      </div>
      <div>
        <label>Name:</label>
        <input readonly th:field="${hackathon.name}" type="text">
      </div>
      <div>
        <label>Date:</label>
        <input readonly th:field="${hackathon.date}" type="date">
      </div>
      <div>
        <label>Hackathon administrator:</label>
        <input readonly th:field="${hackathon.administrator.name}" type="text">
      </div>

      <div th:if="${not#lists.isEmpty(teams)}"> Teams:

        <table border="1" >

          <tr>
            <th>Team name </th>
          </tr>

          <tr th:each="team : ${teams}">
            <td th:text="${team.name}"></td>
          </tr>

        </table>

      </div>

      <div th:if="${not#lists.isEmpty(judges)}"> Judges:
        <table border="1" >
          <tr>
            <th>Name </th>
            <th>Lastname </th>
            <th>Mail </th>
            <th>Country </th>
          </tr>
          <tr th:each="judge : ${judges}">
            <td th:text="${judge.name}"></td>
            <td th:text="${judge.lastName}"></td>
            <td th:text="${judge.mail}"></td>
            <td th:text="${judge.country}"></td>
          </tr>
        </table>
      </div>



    </form>
  </div>

  <div th:unless="${hackathon.hackathonid != null}">
    <form th:action="@{'/administrator/saveHackathon'}" th:object="${hackathon}" method="post">
      <div><h1>Create a new hackathon:</h1></div>

      <div>
        <label>Name:</label>
        <input  th:field="${hackathon.name}" type="text">
      </div>
      <div>
        <label>Date:</label>
        <input  th:field="${hackathon.date}" type="date">
      </div>

      <div th:if="${not#lists.isEmpty(judges)}"> Select available judges to add:
        <table border="1" >
          <tr>
            <th>Name </th>
            <th>Lastname </th>
            <th>Mail </th>
            <th>Country </th>


          </tr>
          <tr th:each="judge : ${judges}">
            <td th:text="${judge.name}"></td>
            <td th:text="${judge.lastName}"></td>
            <td th:text="${judge.mail}"></td>
            <td th:text="${judge.country}"></td>
            <td>

                <input  type="checkbox" name="checkedIds" th:value="${judge.judgeid}">

                </input>

            </td>
          </tr>

        </table>
      </div>
      <div th:unless="${not#lists.isEmpty(judges)}">
        No available judges to add.
      </div>



      <button type="submit" >Save</button>
    </form>
  </div>


</div>

</body>
</html>