<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Judge</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</head>
<body class="backgorund">
<div th:replace="fragments/navbar_admin :: header"></div>
<div class="container">
  <div th:object="${judge}">
      <div class="row">
        <div class="col">
          <div><h1>Delete judge:</h1></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Username :</label>
            <input readonly th:field="${judge.username}" class="form-control" type="text">
          </div>
          <div>
            <label>Password :</label>
            <input readonly th:field="${judge.password}" class="form-control" type="text">
          </div>
          <div>
            <label>Name:</label>
            <input readonly th:field="${judge.name}"  class="form-control" type="text">
          </div>
          <div>
            <label>Last name:</label>
            <input readonly th:field="${judge.lastName}" class="form-control" type="text">
          </div>
          <div>
            <label>Mail :</label>
            <input readonly th:field="${judge.mail}" class="form-control" type="text">
          </div>
          <div>
            <label>Country :</label>
            <input readonly th:field="${judge.country}" class="form-control" type="text">
          </div>
          <div>
            <label>Profession :</label>
            <input readonly th:field="${judge.profession}"  class="form-control" type="text">
          </div>
        </div>
      </div>
      <br>
      <a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${judge.judgeid}" class="btn btn-danger btn-lg text-light"  type="submit">
        <i>Delete</i>
      </a>
      <br>
      <div class="modal modal-warning fade in" th:id="modal-warning+${judge.judgeid}" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title ">Delete judge</h5>
            </div>
            <div class="modal-body">
              <h3>Are you sure want to delete this judge?</h3>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
              <form th:action="@{'/administrator/delete/judge/' + ${judge.judgeid}}"  method="post">
                <button type="submit" class="btn btn-outline btn-danger">
                  <i class="fa fa-check"></i>&nbsp;Yes
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</body>
</html>