<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Judge</title>

  <link rel="stylesheet" th:href="@{/style/header.css}">



</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

  <div >
    <form onsubmit="return confirm('Are you sure?');" th:action="@{'/administrator/delete/judge/' + ${judge.judgeid}}" th:object="${judge}" method="post">
      <div><h1>Delete judge:</h1></div>

      <div>
        <label>Username :</label>
        <input readonly th:field="${judge.username}" type="text">
      </div>
      <div>
        <label>Password :</label>
        <input readonly th:field="${judge.password}" type="text">
      </div>
      <div>
        <label>Name:</label>
        <input readonly th:field="${judge.name}" type="text">
      </div>
      <div>
        <label>Last name:</label>
        <input readonly th:field="${judge.lastName}" type="text">
      </div>
      <div>
        <label>Mail :</label>
        <input readonly th:field="${judge.mail}" type="text">
      </div>
      <div>
        <label>Country :</label>
        <input readonly th:field="${judge.country}" type="text">
      </div>
      <div>
        <label>Profession :</label>
        <input readonly th:field="${judge.profession}" type="text">
      </div>

      <button type="submit" >Delete</button>

    </form>
  </div>




</div>

</body>
</html>