<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Judge</title>

    <link rel="stylesheet" th:href="@{/style/header.css}">



</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div th:if="${judge.judgeid != null}">
        <form th:object="${judge}">
            <div><h1>Details for judge:</h1></div>
            <div>
                <label>Judge ID :</label>
                <input readonly th:field="${judge.judgeid}" type="text">
            </div>
            <div>
                <label>Name:</label>
                <input readonly th:field="${judge.name}" type="text">
            </div>
            <div>
                <label>Last name:</label>
                <input readonly th:field="${judge.lastName}" type="text">
            </div>
            <div>
                <label>Mail :</label>
                <input readonly th:field="${judge.mail}" type="text">
            </div>
            <div>
                <label>Country :</label>
                <input readonly th:field="${judge.country}" type="text">
            </div>
            <div>
                <label>Profession :</label>
                <input readonly th:field="${judge.profession}" type="text">
            </div>
            <div>
                <label>Username :</label>
                <input readonly th:field="${judge.username}" type="text">
            </div>
            <div>
                <label>Password :</label>
                <input readonly th:field="${judge.password}" type="text">
            </div>




            <div th:if="${not#lists.isEmpty(hackathons)}"> Hackathons:
                <table border="1">
                    <tr>
                        <th>Name</th>
                        <th>Date</th>

                    </tr>
                    <tr th:each="hackathon : ${hackathons}">
                        <td><span th:text="${hackathon.name}" ></span></td>
                        <td><span th:text="${hackathon.date}" ></span></td>


                    </tr>

                </table>
            </div>



        </form>
        <div class="alert alert-info" th:if="${message}">
            <h3 th:text="${message}"></h3>
        </div>
    </div>

    <div th:unless="${judge.judgeid != null}">
        <form th:action="@{'/administrator/addJudge'}" th:object="${judge}" method="post">
            <div><h1>Details for judge:</h1></div>

            <div>
                <label>Username :</label>
                <input  th:field="${judge.username}" type="text">
            </div>
            <div>
                <label>Password :</label>
                <input  th:field="${judge.password}" type="text">
            </div>
            <div>
                <label>Name:</label>
                <input  th:field="${judge.name}" type="text">
            </div>
            <div>
                <label>Last name:</label>
                <input  th:field="${judge.lastName}" type="text">
            </div>
            <div>
                <label>Mail :</label>
                <input  th:field="${judge.mail}" type="text">
            </div>
            <div>
                <label>Country :</label>
                <input  th:field="${judge.country}" type="text">
            </div>
            <div>
                <label>Profession :</label>
                <input  th:field="${judge.profession}" type="text">
            </div>

            <button type="submit" >Save</button>

        </form>
    </div>




</div>

</body>
</html>