<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Teams</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</head>
<body class="background">
<div th:replace="fragments/navbar_judge :: header"></div>
<div class="container">
  <p></p>
  <p></p>
  <div>
    <div th:if="${ not#lists.isEmpty(marks)}">
      <table class="table table-condensed" border="1">
        <thead class="thead-dark">
        <tr>
          <th>Design</th>
          <th>Efficiency</th>
          <th>Complexity</th>
          <th>Comment</th>
          <th>Team</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mark : ${marks}">
          <td><span th:text="${mark.design}" ></span></td>
          <td><span th:text="${mark.efficiency}" ></span></td>
          <td><span th:text="${mark.complexity}" ></span></td>
          <td><span th:text="${mark.comment}" ></span></td>
          <td><span th:text="${mark.team.name}" ></span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="alert-info" th:unless="${ not#lists.isEmpty(marks)}">
      <p>There are no marks .</p>
    </div>
  </div>


</div>

</body>
</html>