<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Mentor</title>
  <link rel="stylesheet" th:href="@{/style/header.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

  <div th:if="${mentor.mentorID == null}">
    <div><h1>Details for mentor:</h1></div>

    <form  th:action="@{'/administrator/addMentor'}" th:object="${mentor}" method="post" >

      <div class="form-group">
        <label >Name:</label>
        <input  th:field="${mentor.name}" type="text" >
      </div>
      <div class="form-group">
        <label >Last name:</label>
        <input  th:field="${mentor.lastName}" type="text" >
      </div>


      <div class="form-group">
        <label >Email address:</label>
        <input  th:field="${mentor.mail}" type="email" >
      </div>
      <div class="form-group">
        <label >Profession:</label>
        <input  th:field="${mentor.profession}" type="text" >
      </div>

      <button type="submit" class="btn btn-success" value="submit">Save mentor</button>

      <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <p>Please correct your input</p>
      </div>


    </form>

  </div>

  <div th:unless="${mentor.mentorID == null}">
    <div><h1>Details for mentor:</h1></div>

    <form  th:object="${mentor}" >

      <div class="form-group">
        <label >Name:</label>
        <input readonly th:field="${mentor.name}" type="text" >
      </div>
      <div class="form-group">
        <label >Last name:</label>
        <input readonly th:field="${mentor.lastName}" type="text" >
      </div>


      <div class="form-group">
        <label >Email address:</label>
        <input readonly th:field="${mentor.mail}" type="email" >
      </div>
      <div class="form-group">
        <label >Profession:</label>
        <input readonly th:field="${mentor.profession}" type="text" >
      </div>



      <div th:if="${ not#lists.isEmpty(teams)}">
        <table border="1" >
          <tr>
            <th>Team name </th>


          </tr>
          <tr th:each="team : ${teams}">
            <td th:text="${team.name}"></td>
          </tr>
        </table>
      </div>



    </form>
    <div class="alert alert-info" th:if="${message}">
      <h3 th:text="${message}"></h3>
    </div>

  </div>



</div>


</body>
</html>