<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Search hackathons</title>
  <link rel="stylesheet" th:href="@{/style/header.css}">

</head>
<body>
<div th:replace="fragments/header" :: header ></div>
<div>
  <label >Search for the mentor: </label>
  <form th:action="@{'/administrator/searchMentors'}" method="post">
    <div>

      <input type="text" name="search" />
      <input type="submit" value="Search"/>
    </div>
  </form>
  <div th:if="${ not#lists.isEmpty(mentors)}"> Result:
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Mail</th>
        <th>Profession</th>
        <th>Details</th>
        <th>Delete</th>
      </tr>
      <tr th:each="mentor : ${mentors}">
        <td><span th:text="${mentor.name}" ></span></td>
        <td><span th:text="${mentor.lastName}" ></span></td>
        <td><span th:text="${mentor.mail}" ></span></td>
        <td><span th:text="${mentor.profession}" ></span></td>
        <td>
          <form  th:action="@{/administrator/searchMentors/mentor/} + ${{mentor.mentorID}}"  method="get">
            <button  type="submit">
              <i>Detalis</i>
            </button>
          </form>
        </td>
        <td>
          <form  th:action="@{/administrator/delete/mentor/} + ${{mentor.mentorID}}"  method="post">
            <button  type="submit">
              <i>Delete</i>
            </button>
          </form>
        </td>

      </tr>

    </table>
  </div>

</div>


</body>
</html>