<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Search hackathons</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/tableSearch.js}"></script>

</head>
<body class="background">
  <div th:replace="fragments/navbar_admin :: header "></div>
  <div class="container">
    <p></p>
    <input class="form-control mb-4" id="tableSearch" type="text"
           placeholder="Search">
      <div th:if="${ not#lists.isEmpty(mentors)}">
        <table class="table table-condensed" border="1">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Last name</th>
              <th>Mail</th>
              <th>Profession</th>
              <th class="bg-secondary">Details</th>
              <th class="bg-secondary">Delete</th>
            </tr>
          </thead>
          <tbody id="myTable">
            <tr th:each="mentor : ${mentors}">
              <td><span th:text="${mentor.name}" ></span></td>
              <td><span th:text="${mentor.lastName}" ></span></td>
              <td><span th:text="${mentor.mail}" ></span></td>
              <td><span th:text="${mentor.profession}" ></span></td>
              <td>
                <form  th:action="@{/administrator/searchMentors/mentor/} + ${{mentor.mentorID}}"  method="get">
                  <button class="btn btn-info btn-block " type="submit">
                    <i>Detalis</i>
                  </button>
                </form>
              </td>
              <td>
                <form  th:action="@{/administrator/delete/mentor/} + ${{mentor.mentorID}}"  method="post">
                  <button class="btn btn-danger btn-block" type="submit">
                    <i>Delete</i>
                  </button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
</body>
</html>