<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>welcome to the hackahton managment software!</title>
</head>
<body>

<div class="container">
    <h1>welcome to the hackahton managment software!!!!</h1>

    <form th:action="@{'/administratorLogin'}" method="post">
        <button type="submit" >Login as administrator</button>
    </form>
    <form th:action="@{'/judgeLogin'}" method="post">
        <button type="submit" >Login as judge</button>
    </form>
</div>
</body>
</html>