<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Mark</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body class="background">
<div th:replace="fragments/navbar_judge :: header"></div>
<div class="container">
  <div th:if="${mark.design != 0}" >
    <div><h1>Mark details:  </h1></div>
    <form th:object="${mark}" modelAttribute="mark">
      <div class="form-group">
        <label>Design:</label>
        <input readonly th:field="${mark.design}" class="form-control" type="number" >
      </div>
      <div class="form-group">
        <label>Efficiency:</label>
        <input readonly th:field="${mark.efficiency}" class="form-control" type="number" >
      </div>
      <div  class="form-group">
        <label>Complexity:</label>
        <input readonly th:field="${mark.complexity}" class="form-control" type="number" >
      </div>
      <div class="form-group">
        <label>Comment:</label>
        <input readonly th:field="${mark.comment}" class="form-control" type="text" >
      </div>
      <div class="form-group">
        <div class="alert alert-info" th:if="${message}">
          <h3 th:text="${message}"></h3>
        </div>
      </div>
    </form>
  </div>

  <div th:unless="${mark.design != 0}">
    <div><h1>Please mark this team:</h1></div>
    <form th:action="@{'/judge/findTeams/team/' + ${team.teamID} + '/saveMark'}" th:object="${markDTO}" method="post" modelAttribute="markDTO">
      <div class="form-group">
        <label>Design:</label>
        <input  th:field="${markDTO.design}" class="form-control" type="number" value="" min="1" max="5" required>
      </div>
      <div class="form-group">
        <label>Efficiency:</label>
        <input  th:field="${markDTO.efficiency}"class="form-control" type="number" value="" min="1" max="5" required>
      </div>
      <div class="form-group">
        <label>Complexity:</label>
        <input  th:field="${markDTO.complexity}" class="form-control" type="number" value="" min="1" max="5" required>
      </div>
      <div class="form-group">
        <label>Comment:</label>
        <input  th:field="${markDTO.comment}" class="form-control" type="text" required>
      </div>
      <p></p>
      <button class="btn btn-primary btn-lg" type="submit" >Mark team</button>
    </form>
  </div>
</div>

</body>
</html>