<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Team</title>
  <link rel="stylesheet" th:href="@{/style/header.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

  <div th:if="${team.teamID > 0 }">
    <div><h1>Details for team:</h1></div>

    <form  th:object="${team}" >

      <div class="form-group">
        <label hidden >ID:</label>
        <input hidden readonly th:field="${team.teamID}" type="text" >
      </div>
      <div class="form-group">
        <label >Name:</label>
        <input readonly th:field="${team.name}" type="text" >
      </div>
      <div class="form-group">
        <label >Administrator:</label>
        <input readonly th:field="${team.administrator.name}" type="text" >
      </div>


      <div class="form-group">
        <label >Hackathon:</label>
        <input readonly th:field="${team.hackathon.name}" type="email" >
      </div>
      <div class="form-group">
        <label >Mentor:</label>
        <input readonly th:field="${team.mentor.name}" type="text" >
      </div>



      <div th:if="${ not#lists.isEmpty(members)}"> Members:
        <table border="1">
          <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Mail</th>
            <th>Role</th>


          </tr>
          <tr th:each="member : ${members}">
            <td><span th:text="${member.name}" ></span></td>
            <td><span th:text="${member.lastName}" ></span></td>
            <td><span th:text="${member.mail}" ></span></td>
            <td><span th:text="${member.role}" ></span></td>



          </tr>

        </table>
      </div>


    </form>

  </div>


  <div th:unless="${team.teamID >  0}">
    <div><h1>Enter details for team:</h1></div>

    <form  th:object="${team}" th:action="@{/administrator/addTeam}" method="post">

      <div class="form-group">
        <label >Name:</label>
        <input  th:field="${team.name}" type="text" >
      </div>


      <div>

        <div>
          <label >Hackathon:</label>
          <select name="hackathon">
            <option th:each="hackathon : ${hackathons}"
                    th:value="${hackathon.hackathonid}" th:text="${hackathon.name}">hackathon</option>

          </select>
        </div>



      </div>

      <div class="form-group">

        <div>
          <label >Mentor:</label>
          <select name="mentor">
            <option th:each="mentor : ${mentors}"
                    th:value="${mentor.mentorID}" th:text="${mentor.name}" th:name="mentor">mentor</option>

          </select>
        </div>



      </div>
      <div>

        <fieldset>

          <table border="1">
            <thead>
            <tr>
              <th >Name </th>
              <th >Last name</th>
              <th >Mail</th>
              <th >Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member, itemStat : *{members}">
              <td hidden><input type="text"
                                th:field="*{members[__${itemStat.index}__].id.memberID}"/></td>

              <td><input type="text"
                         th:field="*{members[__${itemStat.index}__].name}"/></td>
              <td><input type="text"
                         th:field="*{members[__${itemStat.index}__].lastName}"/>
              <td><input type="text"
                         th:field="*{members[__${itemStat.index}__].mail}"/>
              <td><input type="text"
                         th:field="*{members[__${itemStat.index}__].role}"/>
              <td>
              <span >
                               <button type="submit"
                                       th:value="*{members[__${itemStat.index}__].id.memberID}">

                                   <i > Delete</i>
                               </button>
                            </span>
              </td>
            </tr>
            </tbody>
          </table>

        </fieldset>





      </div>

      <div><input type="submit" value="Add member"/></div>
    </form>


  </div>

</div>





</body>
</html>